.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 32px;
  margin-top: 32px;
  margin-bottom: 75px;
  white-space: nowrap;
}
.hamburger {
  cursor: pointer;
}
